.bg-color{
  background-image: linear-gradient(blue,black);

}
.main-box{
  width: fit-content;
  margin: auto;
  box-shadow: 0px 0px 10px green;
}

.div{
  height: 10%;
  width: 10%;
}

.note-main-box{
  overflow-y: auto;
  max-height: 300px;
}